<?xml version="1.0" encoding="utf-8"?>
<launch>

    <arg name="camera_info" default="file://$(find calibrate_mocap_and_camera)/launch/rgb_PS1080_PrimeSense.yaml"/>
    <arg name="rgb_optical_frame" default="rgb_optical_frame" />

    <arg name="driver_cv_camera" value="false"/>
    <arg name="driver_openni2" value="false"/>
    <arg name="driver_astra" value="true"/>

    <arg name="file_A" default="extrinsic_calib_2015-12-21-11-41-17.bag" />
    <arg name="file_B" default="extrinsic_calib_2015-12-16-14-33-58.bag" />
    <arg name="file_C" default="extrinsic_calib_2015-12-16-14-35-08.bag" />
    <arg name="file_D" default="extrinsic_calib_2015-12-17-12-29-09.bag" />
    <arg name="file_E" default="extrinsic_calib_2015-12-17-12-30-18.bag" />    
    <arg name="file_F" default="extrinsic_calib_2015-12-17-14-00-25.bag" />   
    <arg name="file_G" default="extrinsic_calib_2015-12-17-14-02-04.bag" />   
    <arg name="file_H" default="extrinsic_calib_2015-12-17-14-05-05.bag" />   
    <arg name="file_J" default="extrinsic_calib_2015-12-17-14-48-43.bag" />   
    <arg name="file_1" default="$(arg file_J)" />
    
    <!-- parameters for real-time rviz visualization -->
    <arg name="run_rviz" default="false"/>
    <arg name="path" default="$(find calibrate_mocap_and_camera)" />
    <arg name="rviz_config_file" default="calibrate_mocap_and_camera_bagfile.rviz" />    
    
    <param name="use_sim_time" value="true" />
    <node pkg="rosbag" type="play" name="player" output="screen" 
          args="-r 1.0 --clock $(arg path)/../../../$(arg file_1)"/> 
  
    <node pkg="rviz" type="rviz" name="rviz" output="screen" 
          args="-d $(arg path)/rviz/$(arg rviz_config_file)"/>

    <arg name="result_display" default="true"/>
    <arg name="result_autosize" default="true"/>
    <arg name="result_draw_markers" default="true" />
    <arg name="result_draw_markers_axis" default="true" />

    <arg name="uid" default=""/>
    <arg name="video_rectified" default="false" />

    <arg name="board_config" default="$(find calibrate_mocap_and_camera)/data/single/pose_calib_00.yml" />
    <arg name="board_frame_id" default="ar_calib_frame" />
    <arg name="marker_size" default="0.035" />
    <arg name="publish_tf" default="true" />

    <node ns="/new" pkg="ar_sys" type="single_board" name="ar_single_board$(arg uid)" output="screen">
        <remap from="/camera_info" to="/cv_camera_node/camera_info" if="$(arg driver_cv_camera)"/>
        <remap from="/image" to="/cv_camera_node/image_raw" if="$(arg driver_cv_camera)"/>
        <remap from="/camera_info" to="/camera/rgb/camera_info" if="$(arg driver_openni2)"/>
        <remap from="/image" to="/camera/rgb/image_raw" if="$(arg driver_openni2)"/>
        <remap from="/camera_info" to="/camera/rgb/camera_info" if="$(arg driver_astra)"/>
        <remap from="/image" to="/camera/rgb/image_raw" if="$(arg driver_astra)"/>

        <param name="image_is_rectified" type="bool" value="$(arg video_rectified)"/>
        <param name="board_config" type="string" value="$(arg board_config)"/>
        <param name="board_frame" type="string" value="/$(arg board_frame_id)" />
        <param name="marker_size" type="double" value="$(arg marker_size)"/>
        <param name="draw_markers" type="bool" value="$(arg result_draw_markers)" />
        <param name="draw_markers_axis" type="bool" value="$(arg result_draw_markers_axis)" />
        <param name="publish_tf" value="$(arg publish_tf)" />
    </node>
    <node ns="/" pkg="topic_tools" type="relay" name="ar_single_board_relay$(arg uid)" args="/ar_single_board$(arg uid)/transform /arsys_single_board/transform" />

    <group if="$(arg result_display)">
        <node ns="/" pkg="image_view" type="image_view" name="image_view$(arg uid)" output="screen">
            <remap from="image" to="/ar_single_board$(arg uid)/result" />

            <param name="autosize" type="bool" value="$(arg result_autosize)" />
        </node>
    </group>
        
    <!-- parameters for ground truth experiments -->
    <!-- specify the vrpn server IP for transform ground truth -->
    <arg name="use_optitrack" default="true" />
    <arg name="vrpn_server_ip" default="192.168.0.20" />    
    <arg name="vrpn_tf_calib_marker_topic" default="/tf_calib" />  
    <arg name="vrpn_tf_cam_marker_topic" default="/tf_cam" />   
    
    <node name="calibrate_mocap_and_camera" pkg="calibrate_mocap_and_camera"
          type="calibrate_mocap_and_camera"
          output="screen">
        
        <param name="tf_cam_topic" value="$(arg vrpn_tf_cam_marker_topic)/pose"/>
        <param name="tf_calib_topic" value="$(arg vrpn_tf_calib_marker_topic)/pose"/>
        <param name="optical_parent" value = "optitrack"/>
        <param name="optical_frame" value = "$(arg rgb_optical_frame)"/>
        <param name="logdata" value = "false"/>
        <param name="logfilename" value = "/home.old/arwillis/calib_transforms.txt"/>
    </node>
    
    <!--
  <node name="reefbot_base" pkg="tf" 
          type="static_transform_publisher"  
          args="0.0 -0.01 0.01  -0.5 0.5 -0.5 -0.5 $(arg rgbd_frame) reefbot_base 100" />
    -->
    <node name="tf_calib_to_ar_calib" pkg="tf"
          type="static_transform_publisher"
          args="0.00085 0.000385 -0.017555 0 0 0 1 $(arg vrpn_tf_calib_marker_topic) ar_calib_frame 100" />

    <node name="ar_calib_to_optical_ar_calib" pkg="tf"
          type="static_transform_publisher"
          args="0.0 0.0 0.0 0 0 0 1 ar_calib_frame ar_optical_frame 100" />
        
</launch>
