<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="rviz_config_file" default="calibrate_mocap_and_camera.rviz" />
    <arg name="path" default="$(find calibrate_mocap_and_camera)" />
    <node pkg="rviz" type="rviz" name="rviz" output="screen"
          args="-d $(arg path)/rviz/$(arg rviz_config_file)"/>
</launch>
