<?xml version="1.0" encoding="utf-8"?>
<launch>

    <arg name="run_rviz" default="true"/>
    <arg name="driver_usb_cam" value="false"/>
    <arg name="driver_cv_camera" value="false"/>
    <arg name="driver_openni2" value="false"/>
    <arg name="driver_astra" value="false"/>
    <arg name="driver_astra_pro" value="true"/>

    <arg name="log_calibration_data" default="true" />
    <arg name="calibration_data_filename" default="$(env HOME)/modified.txt" />

    <arg name="camera_info" default="file://$(env HOME)/.ros/camera_info/rgb_Astra_Orbbec.yaml"/>
    <arg name="result_display" default="true"/>
    <arg name="result_autosize" default="true"/>
    <arg name="result_draw_markers" default="true" />
    <arg name="result_draw_markers_axis" default="true" />

    <arg name="uid" default=""/>
    <arg name="video_rectified" default="false" />

    <arg name="board_config" default="$(find calibrate_mocap_and_camera)/data/single/pose_calib_01.yml" />
    <arg name="board_frame_id" default="ar_calib_frame" />
    <arg name="marker_size" default="0.2032" />
    <arg name="publish_tf" default="false" />

    <arg name="play_bag" default="true"/>

    <group if="$(arg play_bag)">
        <arg name="bag_path" default="/home/prashant/Documents/filtered_calib_bag.bag"/>
        <node pkg="rosbag" type="play" name="player" output="screen" args="--clock --pause $(arg bag_path)"/>
    </group>


    <node ns="/" pkg="ar_sys" type="single_board" name="ar_single_board$(arg uid)" output="screen">
        <remap from="/camera_info" to="/cv_camera_node/camera_info" if="$(arg driver_cv_camera)"/>
        <remap from="/image" to="/cv_camera_node/image_raw" if="$(arg driver_cv_camera)"/>
        <remap from="/camera_info" to="/usb_cam/camera_info" if="$(arg driver_usb_cam)"/>
        <remap from="/image" to="/usb_cam/image_raw" if="$(arg driver_usb_cam)"/>
        <remap from="/camera_info" to="/camera/rgb/camera_info" if="$(arg driver_openni2)"/>
        <remap from="/image" to="/camera/rgb/image_raw" if="$(arg driver_openni2)"/>
        <remap from="/camera_info" to="/camera/rgb/camera_info" if="$(arg driver_astra)"/>
        <remap from="/image" to="/camera/rgb/image_raw" if="$(arg driver_astra)"/>
        <remap from="/camera_info" to="/camera/rgb/camera_info" if="$(arg driver_astra_pro)"/>
        <remap from="/image" to="/camera/rgb/image_raw" if="$(arg driver_astra_pro)"/>

        <param name="image_is_rectified" type="bool" value="$(arg video_rectified)"/>
        <param name="board_config" type="string" value="$(arg board_config)"/>
        <param name="board_frame" type="string" value="/$(arg board_frame_id)" />
        <param name="marker_size" type="double" value="$(arg marker_size)"/>
        <param name="draw_markers" type="bool" value="$(arg result_draw_markers)" />
        <param name="draw_markers_axis" type="bool" value="$(arg result_draw_markers_axis)" />
        <param name="publish_tf" value="$(arg publish_tf)" />
    </node>

    <node ns="/" pkg="topic_tools" type="relay" name="ar_single_board_relay$(arg uid)" args="/ar_single_board$(arg uid)/transform /arsys_single_board/transform" />

    <group if="$(arg result_display)">
        <node ns="/" pkg="image_view" type="image_view" name="image_view$(arg uid)" output="screen">
            <remap from="image" to="/aruco_single_board$(arg uid)/result" />

            <param name="autosize" type="bool" value="$(arg result_autosize)" />
        </node>
    </group>


    <arg name="map_frame" default="optitrack" />
    <arg name="rgb_optical_frame" default="rgb_optical_frame" />
        
    <!-- parameters for real-time rviz visualization -->
    <arg name="path" default="$(find calibrate_mocap_and_camera)" />
    <arg name="rviz_config_file" default="calibrate_mocap_and_camera.rviz" />    

    <node pkg="rviz" type="rviz" name="rviz" output="screen"
          args="-d $(arg path)/rviz/$(arg rviz_config_file)" if="$(arg run_rviz)"/>

    <arg name="vrpn_tf_calib_marker_topic" default="/tf_calib" />
    <arg name="vrpn_tf_cam_marker_topic" default="/tf_cam" />

    <node name="calibrate_mocap_and_camera" pkg="calibrate_mocap_and_camera"
        type="calibrate_mocap_and_camera"
        output="screen">
        
        <param name="tf_cam_topic" value="$(arg vrpn_tf_cam_marker_topic)/pose"/>
        <param name="tf_calib_topic" value="$(arg vrpn_tf_calib_marker_topic)/pose"/>
        <param name="ar_calib_topic" value="/ar_single_board/transform"/>
        <param name="optical_parent" value = "$(arg map_frame)"/>
        <param name="optical_frame" value = "$(arg rgb_optical_frame)"/>
        <param name="logdata" value = "$(arg log_calibration_data)"/>
        <param name="logfilename" value = "$(arg calibration_data_filename)"/>        
    </node>

</launch>
